.screen-bezel {
  background-color: #0d1019;
  border-radius: 10px 10px 50% 50% / 10px 10px 8% 8%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.screen-placeholder {
  width: 65%;
  height: 70%;
  aspect-ratio: 1 / 1;
  background-color: #c0c0c0;
  border-radius: 4px;
}

