.action-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  transform: rotate(-23deg);
  height: fit-content;
  margin-top: 35px;
}

.button-a,
.button-b {
  width: 68px;
  height: 68px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 26px;
  transition: all 0.1s ease;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
}

.button-b {
  background: #00622c;
}

.button-b .button-label {
  color: #00471b;
}

.button-a {
  background: #e00f0b;
}

.button-a .button-label {
  color: #b60403;
}

.button-a:active,
.button-b:active {
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.4),
    inset 0 3px 6px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

.button-label {
  text-shadow: 
    inset 0 2px 4px rgba(0, 0, 0, 0.6),
    0 1px 0 rgba(255, 255, 255, 0.1),
    0 -1px 0 rgba(0, 0, 0, 0.5);
  user-select: none;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  transform: rotate(23deg);
}

