.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}

