.controls {
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--scale, 1) * 40px);
  align-items: center;
}

.buttons-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pokemon-logo {
  width: calc(var(--scale, 1) * 200px);
  height: auto;
  object-fit: contain;
  background: transparent;
  margin-top: calc(var(--scale, 1) * 15px);
}

