.controls {
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.buttons-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pokemon-logo {
  width: 200px;
  height: auto;
  object-fit: contain;
  background: transparent;
  margin-top: 15px;
}

